* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    /* height: 100%; */
    padding: 0;
    margin: 0;
}

.logo {
    /* display: flex; */
    width: 300px; 
    height: fit-content;
    position: absolute;
    top: 5%;
    left: 3%;
    padding: 0;
    /* border: 5px solid #000000; */
}

body {
    background: url("images/matrix1.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 850px;
    /* border: 5px solid purple;  */
}
.texto {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     /* border: 5px solid red;  */
}

.textoEntrada {
   position: absolute;
    height: 48px;
    width: 680px;
    left: 240px;
    top: 168px;
    padding: 15px;
    border: none;
    background: transparent;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

::placeholder {
    color: black;
    outline: none;
}
p {
    display: flex;
}
.minusculas {
      position: absolute; 
      width: 500px;
      height: 18px; 
      margin-top: 700px;
      margin-left: 150px;
      font-family: 'Inter';
      flex-grow: 0; 
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      opacity: 0.8;     
  }

.area-saida {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
     /* border: 5px solid blue;  */
}

.textoSaida {
    position: fixed;
    height: 700px;
    width: 400px;
    right: 30px;
    top: 150px;
    border-radius: 32px; 
    background-repeat: no-repeat;
}

.menino {
    position: absolute;
    width: 336px;
    height: 304px;
    right: 55px;
    top: 283px;
}

.copiar {
    position: absolute;
    background-color: #a9f4639f; 
    /* box-sizing: border-box; */
    justify-content:center;
    padding: 10px;
    width: 200px; 
    height: 67px;
    border-radius: 28px;   
    margin-bottom: 40px;    
    margin-right: 5px;
    margin-left: 355px;
    color: #000000;
}

.botoes {
    display: flex;
    padding: 0px;
    gap: 24px;
    margin-bottom: 30px;
    position: absolute; 
    width: 680px;
    height: 67px;
    left: 100px;
    top: 750px;
    justify-content: center;
}

.criptografar {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 280px;
    height: 67px;
    background: #519f089f;
    border-radius: 24px;
}

.descriptografar {
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 280px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

footer {
    /* border: 5px solid orange;  */
    padding: 20px 0;
    margin: 10px;
}