* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 20px;
    padding: 20px;
    width: 25%;
}

main {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
} 
body {
    background: url("images/matrix1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.textoEntrada {
   /* position: absolute; */
    height: 48px;
    width: 680px;
    left: 240px;
    top: 168px;
    padding: 15px;
    border: none;
    background: transparent;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

::placeholder {
    color: black;
    outline: none;
}
.minusculas {
      position: absolute; 
      width: 500px;
      height: 18px; 
      margin-left: 24px;
      font-family: 'Inter';
      /* flex: none;
      order: 1; */
      flex-grow: 0; 
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      opacity: 0.8;
      
      
  }

.area-saida {
   /* position: relative; */
    color: #000000;
    margin-top: 150px;
}

.textoSaida {
    position: fixed;
    height: 800px;
    width: 400px;
    /* left: 1000px;*/
    right: 10px;
    top: 150px;
    border-radius: 32px;
    background-image: url(images/Menino.svg);
    background-repeat: no-repeat;

}

.menino {
   /* position: absolute; */
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

.copiar {
    background-color: #a9f4639f; 
    box-sizing: border-box;
    padding: 24px;
    width: 200px;
    right: 120px;
    bottom: 150px;
    height: 67px;
    border-radius: 24px;
    position: absolute;
    margin-bottom: 20px; 
    /* color: #000000; */
}


.no-msg {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */

    color: #343A40;
    /* Inside auto layout */
  /* flex: none; */
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.botoes {
    display: flex;
  /*  flex-direction: row;
    align-items: flex-start; */
    padding: 0px;
    gap: 24px;
    margin-bottom: 30px;

    position: absolute; 
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
    justify-content: center;
}

.criptografar {
   /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    /*  gap: 8px;  
    width: 328px;*/
    height: 67px;
    background: #519f089f;
    border-radius: 24px;

    /* Inside auto layout */

    /*  flex: none;
    order: 0;  
    flex-grow: 0;*/

}

.descriptografar {
  /*  display: flex;
    align-items: center; */
    justify-content: center;
    text-align: center;
    padding: 24px;
    /* width: 328px; */
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /*   flex: none;
    order: 1;
    flex-grow: 0; */
}